body {
  background-image: url("../p6.png");
  font-family: "Oswald", sans-serif;
  color: dimgrey; }

.page {
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 900px;
  height: 100%;
  background-color: white;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1); }

header {
  text-align: center;
  margin-bottom: 30px; }
  header h1 {
    text-align: right;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    font-weight: initial;
    color: #3498DB;
    margin-bottom: 0px;
    margin-right: 20px; }

.download {
  text-align: center;
  margin-bottom: 50px; }
  .download a {
    font-size: .8em;
    color: black;
    text-decoration: none; }
  .download a:hover {
    text-decoration: underline; }

.contact, .contactBot {
  position: relative;
  top: -50px;
  width: 200px;
  margin-right: auto;
  left: 20px;
  text-align: left; }
  .contact a, .contactBot a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-size: .7em;
    font-weight: lighter;
    letter-spacing: 1px; }
  .contact a:hover, .contactBot a:hover {
    text-decoration: underline; }
  .contact i, .contactBot i {
    font-size: .9em;
    color: #3498DB; }

.contactBot {
  top: 60px;
  text-align: center;
  width: 100%; }
  .contactBot i {
    margin-left: 20px; }

h2 {
  font-weight: initial;
  color: #3498DB;
  font-size: .6em;
  letter-spacing: 1px;
  margin-top: 0;
  width: 100px; }

p {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-size: .7em; }

.section {
  margin-bottom: 15px; }
  .section h3, .section h4 {
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
    font-size: .7em;
    font-family: "Merriweather", serif; }
    .section h3 span, .section h4 span {
      font-style: italic;
      color: #3498DB;
      float: right;
      letter-spacing: initial; }
  .section h4 {
    font-style: italic;
    margin-bottom: 5px; }
  .section ul {
    margin-top: 0px;
    margin-bottom: 10px; }
    .section ul li p {
      margin-bottom: 0px; }

.left {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  padding-left: 50px; }

.right {
  display: inline-block;
  width: 600px;
  padding-left: 30px; }
  .right p {
    margin-top: 0; }
